# This is an example environment file for local development with foreman:
# https://github.com/ddollar/foreman
# To use it, copy this file to .env, and put in the real values for the
# environment variables below. When you run `foreman start`, foreman will
# insert these values into the environment.
# Be sure that the real values do NOT get committed to git.

OPENEDX_WEBHOOKS_CONFIG=development
OAUTHLIB_INSECURE_TRANSPORT=1
GITHUB_OAUTH_CLIENT_ID=
GITHUB_OAUTH_CLIENT_SECRET=
JIRA_OAUTH_CONSUMER_KEY=
JIRA_OAUTH_RSA_KEY=
