*.pyc
.cache
.mypy_cache
.coverage
.data
.env
Procfile.local
README.md
build/
dist/
docs/_build
prof
coverage.xml
htmlcov
openedx_webhooks.egg-info/
requirements/private.in
requirements/private.txt
.mise.toml
