*.pyc
.cache
.coverage
.data
.env
Procfile.local
README.md
build/
dist/
docs/_build
prof
htmlcov
jira.pem
jira.pub
jira.uuid
openedx_webhooks.db
openedx_webhooks.egg-info/
requirements/private.in
requirements/private.txt
