Flask==0.10.1
git+https://github.com/singingwolfboy/flask-dance.git@0b3bfbbe77b#egg=Flask-Dance
Flask-SQLAlchemy==2.0
Flask-Script
blinker
requests==2.3.0
git+https://github.com/singingwolfboy/requests-oauthlib.git@release-0.4.2#egg=requests-oauthlib
URLObject==2.3.4
gunicorn==19.0.0
psycopg2==2.5.3
bugsnag
pycrypto==2.6.1
PyYAML==3.11
