<!doctype html>
<html>
    <head>
        <script src="//code.jquery.com/jquery-2.1.1.min.js"></script>
    </head>
    <body>
        <h1>Github Check Contributors</h1>
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class="flashes">
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
    <form id="rescan-form" action="{{ url_for("github_check_contributors") }}" method="POST">
    <p>
      Clicking this button will check all contributors for the repo you specify,
      to be sure that they're all in the <code>people.yaml</code> file.
      If you don't specify a repo, it will check all repos in the <code>repos.yaml</code>
      file. Depending on the number of repos, and the number of contributors
      in each repo, this might take awhile. Do you want to do this?
    </p>
    <label for="repo">Repo to scan</label>
    <input type="text" name="repo" id="repo" value="edx/edx-platform" />
    <input type="submit" value="Check Contributors" />
    </form>
    </body>
</html>
