<!doctype html>
<html>
    <head>
        <script src="//code.jquery.com/jquery-2.1.1.min.js"></script>
    </head>
    <body>
    <h1>Rescan GitHub Pull Requests</h1>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul class="flashes">
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
    {% endwith %}
    <form id="rescan-form" action="{{ url_for("github_views.rescan") }}" method="POST">
    <p>
        This form will rescan all the pull requests for the repo you specify.
        No pull requests before 2018 will be rescanned.
        Note: depending on the number of pull requests, it may take awhile. Be careful.
    </p>
    <p>Special values this form accepts are:</p>
    <ul>
        <li>"all:[org]": scans all repos in the specific Github org. i.e. "all:edx"</li>
    </ul>
    <p>
        <label for="repo">Repo to scan</label>
        <input type="text" name="repo" id="repo" value="edx/edx-platform" />
    </p>
    <p>
        <label for="allpr">Include closed pull requests</label>
        <input type="checkbox" name="allpr" id="allpr" value="1" />
    </p>
    <p>
        <label for="inline">Scan inline (not recommended)</label>
        <input type="checkbox" name="inline" id="inline" value="1" />
    </p>
    <p>
        <input type="submit" value="Rescan" />
    </p>
    </form>
    </body>
</html>
