{% filter replace("\n", " ")|trim %}
Although this pull request is already
{% if is_merged %}merged{% else %}closed{% endif %},
I'm still watching it for updates.
{% endfilter %}

{% filter replace("\n", " ")|trim %}
There is nothing you have to do. No action is needed from your side.
{% if is_merged %}
Thanks again for your contribution.
{% else %}
Thanks.
{% endif %}
{% endfilter %}

<!-- comment:welcome_closed -->
<!-- comment:external_pr -->
<!-- comment:no_survey_needed -->
