{% filter replace("\n", " ")|trim %}
Thanks for the pull request, @{{ user }}! I've created
[{{ issue_key }}](https://openedx.atlassian.net/browse/{{ issue_key }})
to keep track of it in JIRA.
{% endfilter %}

{% filter replace("\n", " ")|trim %}
As a core committer in this repo, you can merge this once the pull request is approved per the
[core committer reviewer requirements](https://openedx.atlassian.net/wiki/spaces/COMM/pages/1529675973/Open+edX+Core+Committers#Reviews-and-Ownership)
and according to the agreement with your edX Champion.
{% endfilter %}

{% if is_draft %}
{% filter replace("\n", " ")|trim %}
This is currently a draft pull request. When it is ready for our review and all tests are green,
click "Ready for Review", or remove "WIP" from the title, as appropriate.
{% endfilter %}

<!-- comment:end_of_wip -->
{% endif %}

<!-- comment:welcome-core-committer -->
