{% filter replace("\n", " ")|trim %}
Thanks for the pull request, @{{ user }}! I've created
[{{ issue_key }}](https://openedx.atlassian.net/browse/{{ issue_key }})
to keep track of it in JIRA, where we prioritize reviews. 
Please note that it may take us up to several weeks or months to complete a review and merge your PR.
{% endfilter %}

Feel free to add as much of the following information to the ticket:
- supporting documentation
- [Open edX discussion forum threads](https://discuss.openedx.org/)
- timeline information ("this must be merged by XX date", and why that is)
- partner information ("this is a course on edx.org")
- any other information that can help Product understand the context for the PR

{% filter replace("\n", " ")|trim %}
All technical communication about the code itself will be done via the
GitHub pull request interface. As a reminder,
[our process documentation is here](http://edx-developer-guide.readthedocs.org/en/latest/process/overview.html).
{% endfilter %}

{% filter replace("\n", " ")|trim %}
Please let us know once your PR is ready for our review and all tests are green.
{% endfilter %}


{% filter replace("\n", " ")|trim %}
  {%- if not has_signed_agreement %}
    We can't start reviewing your pull request until you've submitted a
    [signed contributor agreement](https://open.edx.org/wp-content/uploads/2019/01/individual-contributor-agreement.pdf)
    or indicated your institutional affiliation. Please see the [CONTRIBUTING](https://github.com/edx/edx-platform/blob/master/CONTRIBUTING.rst)
    file for more information.
  {%- endif %}
{% endfilter %}
