<!doctype html>
<html>
    <head>
        <script src="//code.jquery.com/jquery-2.1.1.min.js"></script>
    </head>
    <body>
        <h1>Install GitHub Webhooks</h1>
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class="flashes">
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
    <form id="install-form" action="{{ url_for("github_views.install") }}" method="POST">
    <p>
      Clicking this button will install the GitHub webhook for the repo
      you specify. If you don't specify a repo, the webhook will be installed
      in all repos in
      <a href="https://github.com/edx/repo-tools-data/blob/master/repos.yaml">repos.yaml</a>.
    </p>
    <p>Use the owner/repo syntax: "edx/edx-project", don't include the github.com, etc.</p>
    <p>If it doesn't work, make sure the bot's account has admin access to the repo.</p>
    <label for="repo">Repo: </label>
    <input type="text" name="repo" id="repo" />
    <input type="submit" value="Install Webhooks" />
    </form>
    </body>
</html>
