<!doctype html>
<html>
    <head>
        <script src="//code.jquery.com/jquery-2.1.1.min.js"></script>
    </head>
    <body>
        <h1>Rescan JIRA</h1>
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class="flashes">
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
    <form id="rescan-form" action="{{ url_for("jira_rescan") }}" method="POST">
    <p>
      Clicking this button will rescan all issues in the "Needs Triage" state.
    </p>
    <input type="submit" value="Rescan" />
    </form>
    </body>
</html>
