{% filter replace("\n", " ")|trim %}
Thanks for your pull request, but this repo does not accept outside contributions unless they are under contract.
If you think this is an error, please contact @nedbat.
{% endfilter %}

<!-- comment:no-contributions -->
