{% filter replace("\n", " ")|trim %}
Thanks for your pull request, but this repo does not accept outside contributions unless they are under contract.
{% endfilter %}

<!-- comment:no-contributions -->
