{% filter replace("\n", " ")|trim %}
Thanks for your pull request, but this repo is not accepting outside contributions.

If you think this is an error, please contact @nedbat.
{% endfilter %}

<!-- comment:no-contributions -->
