{"http_interactions": [{"request": {"body": {"string": "", "encoding": "utf-8"}, "headers": {"Authorization": ["Basic bmVkYmF0Ojc4YjYzZDY0NWE3NWQ0NjBhZmM1OWJiNTQzZGE3NzAxYzkyNTg5MGY="]}, "method": "GET", "uri": "https://api.github.com/repos/edx/edx-platform/issues/1/comments?per_page=100"}, "response": {"body": {"string": "[]", "encoding": "utf-8"}, "headers": {"Status": ["200 OK"], "ETag": ["\"bb3af35114c4acaf8c3a49baba29437f\""], "X-RateLimit-Remaining": ["4999"], "X-OAuth-Scopes": ["gist, repo"], "X-GitHub-Media-Type": ["github.v3"], "X-RateLimit-Limit": ["5000"], "Content-Type": ["application/json; charset=utf-8"], "X-Accepted-OAuth-Scopes": [""], "X-RateLimit-Reset": ["1452824526"]}, "status": {"message": "OK", "code": 200}, "url": "https://api.github.com/repos/edx/edx-platform/issues/1/comments?per_page=100"}, "recorded_at": "2016-01-15T01:22:07"}], "recorded_with": "betamax/0.5.1"}