# Version constraints for pip-installation.
#
# This file doesn't install any packages. It specifies version constraints
# that will be applied if a package is needed.
#
# When pinning something here, please provide an explanation of why. Ideally,
# link to other information that will help people in the future to remove the
# pin when possible.  Writing an issue against the offending project and
# linking to it here is good.

#Flask-Dance[sqla]==0.9.0
#celery==3.1.26.post2
#github3.py==0.9.6
#redis==2.10.6      # 3.0 broke something: https://github.com/andymccurdy/redis-py/issues/1068
#rq==0.12.0
#rq-dashboard==0.5.0
#Sphinx==1.5.6
