{% filter replace("\n", " ")|trim %}
{% if is_merged %}
@{{ user }} 🎉 Your pull request was merged!

Please take a moment
{% else %}
@{{ user }} Even though your pull request wasn’t merged, please take a moment
{% endif %}
to [answer a two question survey]({{ survey_url }}) so we can improve your experience in the future.
{% endfilter %}

<!-- comment:end_survey -->
