<!doctype html>
<html>
    <head>
        <script src="//code.jquery.com/jquery-2.1.1.min.js"></script>
    </head>
    <body>
    <h1>Rescan GitHub Pull Requests</h1>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul class="flashes">
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
    {% endwith %}
    <form id="rescan-form" action="{{ url_for("github_views.rescan") }}" method="POST">
    <p>
        This form will rescan all the pull requests for the repo or organization you specify.
        No pull requests before 2018 will be rescanned.
        Note: depending on the number of pull requests, it may take awhile. Be careful.
    </p>
    <p>
        <label for="repo">Repo to scan</label>
        <input type="text" name="repo" id="repo" value="openedx/edx-platform" />
        "all:[org]" scans all repos in the specific GitHub organization. For example, "all:edx"
    </p>
    <p>
        <input type="checkbox" name="allpr" id="allpr" value="1" />
        <label for="allpr">Include closed pull requests</label>
    </p>
    <p>
        <input type="checkbox" name="dry_run" id="dry_run" value="1" />
        <label for="dry_run">Dry run: don't make any changes to GitHub or Jira</label>
    </p>
    <p>
        <label for="earliest">Earliest date:</label>
        <input type="text" name="earliest" id="earliest" />
        <br>
        <label for="latest">Latest date:</label>
        <input type="text" name="latest" id="latest" />
        <br>Format: YYYY-MM-DD
        <br>(Nothing before 2018 will be rescanned.)
    </p>
    <p>
        <input type="checkbox" name="inline" id="inline" value="1" />
        <label for="inline">Scan inline (not recommended)</label>
    </p>
    <p>
        <input type="submit" value="Rescan" />
    </p>
    </form>
    </body>
</html>
