{% filter replace("\n", " ")|trim %}
Thanks for the pull request, @{{ user }}!
{% endfilter %}

{% if is_draft %}
{% filter replace("\n", " ")|trim %}
This is currently a draft pull request. When it is ready for our review and all tests are green,
click "Ready for Review", or remove "WIP" from the title, as appropriate.
{% endfilter %}

<!-- comment:end_of_wip -->
{% else %}
When this pull request is ready, tag your edX technical lead.
{% endif %}

<!-- comment:welcome-blended -->
