<!doctype html>
<html>
    <body>
        <h1>Open edX Webhooks Home</h1>
{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    <ul class="flashes">
    {% for category, message in messages %}
      <li class="{{ category }}">{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
    <p>This is an automated system that synchronizes several different services
       to make developing <a href="http://openedx.org">Open edX</a> smoother.
       The code is open source and <a href="https://github.com/openedx/openedx-webhooks">
       hosted on GitHub</a>.
    </p>
    <h2>GitHub</h2>
    <ul>
      <li>
        {% if github_username %}
            Authenticated as <strong>@{{github_username}}</strong>.
        {% else %}
            Not authenticated.
        {% endif %}
      </li>
      <li><a href="{{ url_for("github_views.rescan_get") }}">Rescan Pull Requests</a></li>
      <li><a href="{{ url_for("github_views.process_pr_get") }}">Process Pull Request</a></li>
    </ul>

    <h2>Other</h2>
    <ul>
      <li><a href="{{ url_for("github_views.generate_error") }}">Generate Immediate Flask Error</a></li>
      <li><a href="{{ url_for("github_views.generate_task_error") }}">Generate Celery Task Error</a></li>
    </ul>
    </body>
</html>
